.App{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 400px;
  width: 300px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  box-sizing: border-box;
}
.input{
  width: auto;
}
.weather-data{
  height: 75%;
  width: 100%;
  background-color:hwb(197 54% 28%);
  border-radius: 15px;
}
